[Unit]
Description=RoomSense Deploy Stack
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/roomsense/setup/scripts/deploy_stack.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
