[Unit]
Description=RoomSense Access Point
After=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=SSID=RoomSense-Setup
Environment=PSK=roomsense123
Environment=COUNTRY=AT
ExecStart=/opt/roomsense/setup/scripts/ap_start.sh
ExecStop=/opt/roomsense/setup/scripts/ap_stop.sh

[Install]
WantedBy=multi-user.target
